@import url('https://api.fonts.coollabs.io/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.bunny.net/css?family=raleway:900');
@import url('https://fonts.cdnfonts.com/css/gasoek-one');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.bunny.net/css?family=titillium-web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://cdn.staticdelivr.com/gfonts/css2?family=Open+Sans');
@import url('https://api.fonts.coollabs.io/css2?family=Passion+One:wght@400;700;900&display=swap');

/* "DM Sans", serif, "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui  */

* {
  margin: 0;
  padding: 0;
}

*,
::before, 
::after {
  box-sizing: border-box;
}

:root {
  --fill-clr-grey: hsl(223, 15%, 46%);
  --gap: 2rem;
/*  font-size: 20px; */
  --hdr-main-color: hsl(0,0%,92%);
  --red: #da2c4d;
  --yellow: #f8ab37;
  --green: #2ecc71;
  --white: #ffffff;
  --grey-light: #f2f7f9;
  --grey: #ecedf3;
  --black: #080808;
  --black-blue: #1f2029;
  --black-blue-light: #353746;
  --black-blue-light-2: #404255;
  --black-blue-light-3: #4b4d64;
  --black-light: #424455;
  --ff-main-header:  'Gasoek One', sans-serif;
  --ff-alt-main-header: 'Passion One', sans-serif;  
  --ff-font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  ---font-mono: "JetBrains Mono", "ui-monospace", "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", "monospace", "ui-sans-serif", "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --space: 1rem;
  --space-md: calc(var(--space) * 2);
  --content-max-width: 60ch;
  --content-md-width: 80ch;
  --content-min-width: 40ch;
  --clr-text-light: hsl(0,0%,75.3%);
  --color-neutral-200: #efeeec;
  --color-neutral-400: hsl(224, 21%, 65%);
  --color-neutral-800: #131313;  
  --color-neutral-900: #000000;
  --color-grey-500: hsl(223, 15%, 46%);
  --bunker-950: hsl(233.33, 29.03%, 6.08%);

  --clr-text-light: hsl(0,0%,75.3%);
  --clr-text-dark: hsl(0,0%,48.6%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-primary-100: hsl(205, 15%, 58%);
  --clr-primary-400: hsl(215, 25%, 27%);
  --clr-primary-800: hsl(217, 33%, 17%);
  --clr-primary-900: hsl(218, 33%, 9%);

  --color-light: var(--color-neutral-200);
  --color-dark: var(--color-neutral-800);  
  --color-white: var(--color-neutral-100);
  --color-black: var(--color-neutral-900);
  --color-error: var(--color-primary);
  --color-success: #0ba954; 
  --color-section-text: hsl(0, 0%, 98%);
  --cubic-default: cubic-bezier(0.65, 0.05, 0, 1);
  --duration-default: 0.735s;
  --animation-default: var(--duration-default) var(--cubic-default);
  --gap: 2em;
  --section-padding: calc(3.5em + (var(--gap) * 2));
  --container-padding: 2em;
  --header-height: calc(1.5em + (var(--gap) * 2));
  --footer-height: calc(2.785em + (var(--gap) * 2));
}

body {
  background-color: #1B1B1B;
  background: var(--color-neutral-900);
  color: #c0c0c0;  
  position: relative;
  /*z-index: -1;*/
/*  background: url('https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/8727c9b1-be21-4932-a221-4257b59a74dd');*/
  background: url('https://ik.imagekit.io/ghow2otb3rc/Projects/SoM/cdn/kpa--bg-img-be21-4932_dark-45p_Xz4__ulwPXOOJh.webp');
  background-repeat: repeat;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  animation: slidein 180s forwards infinite alternate;
  overflow-x: hidden;
  overflow-x: clip;
  margin: 0;
}

#navigation--Wrap {
     display: none;
     width: 100%;
     min-height: 100vh;
     height: 100%;
     background: black;
     opacity: 0;
     position: absolute;
     top: 0;
     padding: 150px 0;
     overflow: hidden;
}

#navigation--Wrap.showing {
  z-index: 99;
}

#navigation--Wrap .container {
     position: relative;
     width: 100%;
     max-width: 1200px;
     margin: 0 auto;
     padding: 0 20px;
     box-sizing: border-box;
}

#navigation--Wrap .container:after {
     content: "";
     display: table;
     clear: both;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
     #navigation--Wrap .container {
         width: 85%;
         padding: 0;
    }
}
/* For devices larger than 550px */
@media (min-width: 550px) {
     #navigation--Wrap .container {
         width: 80%;
    }
}

@media (min-width: 768px) {
  #navigation--Wrap {
    padding: 100px 0;
  }
}

#navigation--Wrap nav {
  grid-column: page;
}

#navigation--Wrap nav ul {
     list-style-type: none;
     padding: 0;
}
#navigation--Wrap nav ul li {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 12vh;
  line-height: 1.1;
  text-transform: uppercase;
  overflow: hidden;
  font-weight: 700;
}
#navigation--Wrap nav ul li:first-child {
     font-size: 8vh;
     overflow: visible;
}
@media (max-width: 750px) {
     #navigation--Wrap nav ul li {
         font-size: 15vw;
    }
     #navigation--Wrap nav ul li:first-child {
         font-size: 8vw;
    }
}
#navigation--Wrap nav a {
     color: white;
     -o-transition:.3s;
     -ms-transition:.3s;
     -moz-transition:.3s;
     -webkit-transition:.3s;
     transition:.3s;
     text-decoration: none;
}
#navigation--Wrap nav a:hover {
     color:#F24738;
     color: hsl(224, 21%, 75%);
}

.navbar {
     position: fixed;
     top: 20px;
     left: 20px;
     width: 45px;
     height: 45px;
     z-index: 20;
     cursor: pointer;
}
.close {
     display: none;
     opacity: 0;
     position: fixed;
     top: 20px;
     left: 20px;
     width: 45px;
     height: 45px;
     z-index: 20;
     cursor: pointer;
}
.social {
    grid-column: page;
    display: flex;
    gap: 1.2rem;
}

.social a {
  color: #484848;
  color: white;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
  text-decoration: none;
}
.social a svg {
  fill: white;
  transition: all .3s ease-in-out;
}
.social a:hover svg {
  color:#F24738;
  fill: #F24738;
  fill: hsl(262.8, 12.7%, 48.5%); /* 262.8, 12.7%, 48.5% / 264.4, 26.2%, 20.2% */
}

.fa {
  color: #484848;
  padding-right: 12px;
  font-size: 1.8em !important;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}
.fa:hover {
  color:#F24738;
}


.plate {
  height: 60px; /* formerly 80px */
  width: 80px;
}
.plate {
  position: fixed;
  width: 100%;
  z-index: 100;
/*   outline: 1px solid firebrick; */
}

button[data-v-6e829ace] {
  position: absolute;
  top: 1.95rem;
  left: 1.5rem;
  background: transparent;
  outline: 0;
  border: 0;
  /*height: 40px;*/
  display: none;
}

.media-audio--container {
    position: relative;
    position: absolute;
    top: 1.5rem;
    left: -1rem;
    z-index: 2;
    padding-inline-start: 3rem;
    padding-inline-start: var(--space-md);
    grid-column: page;
}
.audio-btn[data-v-782638f6] {
    align-items: center;
    border-radius: 25px;
    display: flex;
    height: 40px;
    height: 32px;
    justify-content: center;
/*    margin: -5.8823529412vw auto 0;*/
    padding: 4px 16px 4px 4px;
    padding: 0px 16px 0px 2px;
    background-color: #000;
    background-color: rgba(0, 0, 0, .3);
    transition: background-color .5s cubic-bezier(.19,1,.22,1);
    border: 1px solid hsla(0, 0%, 50%, 0.6);
    cursor: pointer;
}

.audio-btn[data-v-782638f6]:hover {
  background-color: #2d2d2d;
  border: 1px solid transparent;
}
/*
.audio-btn[data-v-782638f6] {
    margin-top: calc(32.8px + 3.95294vw);
}
*/
.audio-btn.is-on .icon .audio-icon .on[data-v-782638f6] {
    opacity: 0;
    transform: translateX(-8px)
}

.audio-btn.is-on .icon .audio-icon .off[data-v-782638f6] {
    opacity: 1;
    transform: translateX(-2px) scale(1.2)
}

.audio-btn.is-on .label-wrapper .label[data-v-782638f6] {
    transform: translateY(-14px)
}

.audio-btn .icon[data-v-782638f6] {
    align-items: center;
    background-color: #171717;
    background-color: hsl(43.8, 0%, 12.7%);
    border-radius: 100%;
    display: flex;
    height: 28px;
    justify-content: center;
    margin-right: 12px;
    position: relative;
    width: 28px;
}

.audio-btn .icon .audio-icon[data-v-782638f6] {
    height: 12px;
    position: relative;
    width: 18px;
}

.audio-btn .icon .audio-icon g[data-v-782638f6] {
    transition: transform .5s cubic-bezier(.19,1,.22,1),opacity .5s cubic-bezier(.19,1,.22,1);
    will-change: transform;
}

.audio-btn .icon .audio-icon .off[data-v-782638f6] {
  opacity: 0;
  transform: translateX(-8px);
}

.audio-btn .label-wrapper[data-v-782638f6] {
    display: block;
    height: 14px;
    color: hsl(0, 0%, 75%);
    overflow: hidden;
}

.audio-btn .label-wrapper .label[data-v-782638f6] {
    color: var(--white-color);
    display: block;
    position: relative;
    transition: transform .5s cubic-bezier(.19,1,.22,1);
    will-change: transform;
/*    transform: translate3d(0, -14px, 0);*/
}

.p-caption {
    font-size: 12px;
}

.audio-btn.is-on .label-wrapper {
  transition: translate3d(0, -100%, 0);
}

/****************************/
/* HAMBURGER MENU ANIMATION */
/****************************/

.hamburger-menu {
  position: absolute;
  top: 1rem;
/*   top: 20px; */
  right: 1.5rem;
  z-index: 100;
  cursor: pointer;
/*   outline: 1px solid firebrick; */
  width: 2.8rem;
}

.menu-bar1,
.menu-bar2,
.menu-bar3 {
  width: 2.5rem;
  width: 1.75rem;
  height: 0.125rem;
  background-color: #fff;
  margin: 0.6rem 0;
  margin-left: auto;
  transition: 0.4s;
}

.menu-bar2 {
  width: 1.5rem;
  width: 1.25rem;
  height: 0.125rem;
  margin-left: auto;
}

/* ROTATE FIRST BAR */
.active .menu-bar1 {  
/*   transform: rotate(-45deg) translate(-0.25rem, 0.4rem); */
  transform: rotate(-45deg) translate(-0.00rem, 0.76rem);
/*   transform-origin: top left; */
}

/* FADE OUT SECOND BAR */
.active .menu-bar2 {
  opacity: 0;
}

/* ROTATE LAST BAR */
.active .menu-bar3 {
/*   transform: rotate(45deg) translate(-0.24rem, -0.2rem); */
    transform: rotate(45deg) translate(-0.25rem, -1.00rem);
/*   transform-origin: bottom left; */
}
.hero {
  display: grid;
  /* create the three columns of the grid */
  grid-template-columns: 
    1lh min(100cqw - 2lh, 550px) 1lh;
  justify-content: space-evenly;
  /* needed for viewport sticky skip links */
  align-items: start;
  position: relative;    
}

.hero::after {
  position: absolute;
  content: '';
  inset: 0;
  width: 100%;
  height: 100%;
/*  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.95) 30%,
    hsl(240 28% 19% / 0.70) 50%, 
    rgba(0, 0, 0, 0.95) 98%); */
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.95) 15%,
    hsl(240 28% 19% / 0.70) 50%, 
    hsl(240 28% 19% / 0.80) 60%,
    rgba(0, 0, 0, 0.95) 98%)
    ;
}

.image--container {
    grid-area: 1 / 1 / span 1 / span 3;
    justify-self: center;
    width: 100cqw /* full-bleed */;
    height: 50vh;
    /*background: url(https://ik.imagekit.io/ghow2otb3rc/Projects/SoM/Artists/56f6f1_ac44a143b82a4e7fa755e0c20957e259_mv2_d_1920_1280_s_2_H1Co9l4Y3.jpg) 50% / cover;*/
    background: url(https://ik.imagekit.io/ghow2otb3rc/Projects/SoM/Artists/KP-IMG/onstage_mv2_d_1920_1280_s_2__zs-c9tILU.png) 50% / cover;
    mask: linear-gradient(red, #0000);
    content: '';    
}


h1 {
  font-family: 'Jockey One';
  font-family: var(--ff-main-header);
/*   font-weight: 700; */
  color: #c0c0c0;
  color: #fafafa;
  color: hsl(0, 0%, 92%);
  letter-spacing: 0.075rem;
  text-shadow: 0 .010em 2px rgba(0, 0, 0, 0.5);
}

.hero-title {
  display: grid;
  font-size: clamp(2.5rem, 8vw + 0.5rem, 5.2rem);
/*   font-family: 'Fjalla One', sans-serif; */
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  line-height: .85;
  position: relative;
  position: absolute;
  /*z-index: 200;*/
  top: 50%;
  transform: translate3d(0, -50%, 0);
  /* grid-column: 1 / 2; */
  align-self: start;
  justify-self: start;
  gap: 1rem;
  margin-bottom: 3rem;
  margin-left: 1.5rem;
/*   border: 1px solid firebrick; */
  text-shadow: 0 .010em 2px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.artist__tags {
  position: absolute;
  bottom: 120px;
  /*width: 100%;*/
  width: max-content;
  display: flex;
  gap: .55rem;
  z-index: 10;   
  margin-left: 1.5rem;
}

.artist__tags span {
  font-family: var(--ff-font-sans);
  font-size: .625rem;
  font-weight: 700;
  text-transform: uppercase;  
  color: #c0c0c0;
  opacity: 0;
  transform: translate3d(5px, 0, 0);
  animation: titleFadeIn 1.2s ease-in-out 0.8s forwards;
}

.artist__tags span:nth-of-type(2) {
  transform: translate3d(0, 0, 0);
  animation-delay: 2.8s;
}

.artist__tags span:nth-of-type(3) {
  transform: translate3d(-5px, 0, 0);
  animation-delay: 1.8s;
}

.profile-img--cont {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    top: 140px;
    /* left: 50%; */
    right: 2%;
    right: 1.5rem;
    width: 200px;
    /* margin: 0 auto; */
    /* height: 100%; */
    z-index: 5;
    /* visibility: hidden; */
    /* outline: 2px solid firebrick; */
}

.profile-img--cont .image-container {
    position: relative;
    width: 100%;
    width: clamp(100px, 40vw, 300px);
    width: clamp(150px, 30vw + .75rem, 200px);
    /* height: 350px; */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* border: 1px solid firebrick; */
}

.profile-img--cont .image-container::after {
  position: absolute;
  content: '';
  inset: 0;
  height: 100%;
  padding-bottom: 100%;
  background: rgba(0 0 0 / .3);
  background: linear-gradient(to top, #000, hsla(222, 100%, 27%, .91) 40%), hsl(222, 100%, 27%);
  mix-blend-mode: multiply;
  /*
  background: hsl(206, 100%, 49%);
  background: hsl(222, 100%, 27%);
  */
  opacity: 0.15;  
}

.profile-img--cont .image-container img {
    max-width: 100%;
    height: auto;
    display: block;
/*    mask-image: linear-gradient(to top, transparent 5%, black 95%);*/
  -webkit-filter: contrast(120%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(80%);
  filter: contrast(120%) grayscale(40%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
  mix-blend-mode: multiply;         
}
/*
.profile-img--cont {
    top: 100px;
    justify-content: flex-end;
}
*/
@media (min-width: 650px) { /* Previously 500px */
  .profile-img--cont {
    top: 100px;
    justify-content: flex-end;
  }
}

.rtl {
  direction: rtl;
}

/* Grid Dimension Settings Start */

.container {
  position: relative;
  --gutter: 3rem;
  display: grid;
  grid-template-columns:
    [page-start col1-start] minmax(3rem, 1fr)
    [breakout-start] 1fr
    [content-start] min(100% - (var(--gutter) * 2), 80ch)
    [content-end] 1fr
    [breakout-end] minmax(3rem, 1fr)
    [page-end];
  /*border-top: 1px solid hsl(0 0% 41% / .45);*/
}

.container::after {
  position: absolute;
  content: '';
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.95) 12%,
    hsl(240 28% 19% / 0.64) 40%, 
    hsl(240 28% 19% / 0.74) 60%, 
    hsl(240 28% 19% / 0.54) 80%, 
    rgba(0, 0, 0, 0.95) 98%)
    ;
  z-index: -1;
}

.p-caption {
    font-size: 12px;
}

.audio-btn.is-on .label-wrapper {
  transition: translate3d(0, -100%, 0);
}

h1, .site--title {
  grid-column: content;
}

p {
  grid-column: full;
  padding-inline: calc(var(--space-md) / 2);
}

.site--title {
/*  width: max-content;*/
  display: grid;
  align-self: center;
/*  text-align: center;*/
/*  padding-inline: 8rem;*/
  margin: 0 auto;
  position: relative;
}

.site--title span {
  display: block;
  grid-column: 1 / 2;
}

.site--title span {
  display: block;
  grid-column: 1 / 2;
}

.site--title-meta {
  /*position: absolute;*/
  position: relative;
  grid-column: breakout;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-inline: -2rem;
  padding-block: .75rem;
  padding-inline: 1rem;
  border: 1px solid hsl(0 0% 41% / .385);
  border-radius: .75rem;
}
/*
.site--title-meta::before {
  background-color: rgba(235, 235, 235, .2);
  content: '';
  filter: blur(18px);
  position: absolute;
  inset: 3%;
  z-index: -1;
}
*/
.site--title-meta::after {
  position: absolute;
 content: '';
 width: 100%;
 height: 100%;
 background: inherit; 
 left: 0;
 right: 0;
 top: 0;  
 bottom: 0;
 box-shadow: inset 0 0 0 200px rgba(255,255,255,0.12);
 filter: blur(10px);
}
.site--title-meta > span {
  position: relative;
  color: #c0c0c0;
  text-transform: uppercase;
  font-family: "Bebas Neue";
  font-weight: 500;
}

.site--title-meta > span::after {
  position: absolute;
  content: " • ";
  top: 70%;
  left: 50%;
  /*color: hsl(276 85% 64% / .5);*/
  transform: translate3d(-50%, 0, 0);
  color: hsl(43.8 0% 75.3% / .5);
}
.title-meta__item {
  letter-spacing: 0.075rem;
}

.headline {
  margin-block-start: var(--space-md);
  margin-block-end: calc(var(--space-md) * 4);
  /*margin-block-end: var(--space-md);*/
  font-family: "Bebas Neue";
  font-size: clamp(2rem, 6vw, 3.5rem);
  font-weight: bold;
  line-height: 1.125;
  letter-spacing: 0.015em; /* removed minus from value */
/*  transform: translateY(10%);*/
  opacity: 0;
/*  animation: moveHeaderUp 1s linear 0.5s forwards;*/
  animation: moveHeaderUp 1.4s ease-in-out 0.5s forwards;

  .showing {
    transform: translateY(10%);
    opacity: 0;
/*    animation: moveHeaderUp 1s linear 0.5s forwards;*/
    animation: moveHeaderUp 1.4s ease-in-out 0.5s forwards;
  }
}

@media (min-width: 320px) {
  .headline {
    margin-block-start: calc(var(--space-md) * 2);
  }
  .dl-single {
    margin-block-start: 0;
  }
}

@media (min-width: 420px) {
  .site--title-meta {
    justify-content: space-around;
    gap: 1rem;
    /*transform: translate3d(-25%, 0, 0);*/
  }
}



@keyframes moveHeaderUp {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  50% {
    opacity: 0.5;
/*     transform: translateX(-25px); */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }  
}

@keyframes slidein {
  0%,
  100% {
    background-position: 20% 0%;
    background-size: 3400px;
  }
  50% {
    background-position: 100% 0%;
    background-size: 2400px;
  }
}

@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
  30% { 
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  40% { 
    color: hsl(230, 100%, 95%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }
  
  70% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  100% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
}

.banner {
  grid-column: content;
  text-align: left;
  padding-inline-start: var(--space-md);
  margin-block-start: 4rem;
}

.banner p {
  font-size: 1rem;
  /*width: 65ch;*/
  font-weight: 300;
  /*margin-block-start: 1.5rem;*/
  margin-block-end: calc(var(--space-md) * 3);
}

@media (max-width: 650px) {
  .banner {
    grid-column: page;
    padding-inline-start: calc(var(--space-md) / 2);
  }
  .banner p {
    width: 100%;
  }
}

.section--about, 
.section--profile {
  position: relative;
  --gutter: 3rem;
  display: grid;
  /*row-gap: 1lh;*/
  grid-template-columns:
    [page-start col1-start] minmax(3rem, 1fr)
    [breakout-start] 1fr
    [content-start] min(100% - (var(--gutter) * 2), 80ch)
    [content-end] 1fr
    [breakout-end] minmax(3rem, 1fr)
    [page-end];
  /*border-top: 1px solid hsl(0 0% 41% / .45);*/
/*  grid-template-columns:         
    [full-start] calc(var(--gap) / 2)
    [margin-start] minmax(0, 1fr)
    [wide-start] clamp(0px, 10vi - 30px, 6em)
    [content-start] minmax(auto, 18em) [center]
    minmax(auto, 6em) [content-end] 
    clamp(0px, 10vi - 30px, 6em) [wide-end] 
    minmax(0, 1fr) [margin-end] 
    calc(var(--gap) / 2) [full-end]
  ;*/
}

.section--profile {
  grid-template-columns:         
    [full-start] calc(var(--gap) / 2)
    [margin-start] minmax(0, 1fr)
    [wide-start] clamp(0px, 10vi - 30px, 6em)
    [content-start] minmax(auto, 18em) [center]
    minmax(auto, 6em) [content-end] 
    clamp(0px, 10vi - 30px, 6em) [wide-end] 
    minmax(0, 1fr) [margin-end] 
    calc(var(--gap) / 2) [full-end]
  ;  
  margin-block-end: 3.5rem;
}

.section--title {
    grid-column: margin;
    /*padding-inline: calc(var(--space-md) / 2);*/
    /*margin-block-end: 3.5rem;*/
}

@media (min-width: 480px) {
    .section--title, .container p {
        grid-column: margin;
        padding-inline: 0;
    }
    .section--title {
      grid-column: margin;
      padding-inline-start: calc(var(--gap) / 4);
    }
}

.section--title h1 {
    text-align: left;
    font-family: var(--ff-main-header);
    font-size: clamp(1.5rem, 0.2368rem + 6.3158vw, 4.5rem);
    font-size: clamp(1.4rem, 0.0947rem + 6.5263vw, 4.5rem);
    letter-spacing: 0.125rem;
    margin-block-end: 2.5rem;
    margin-block-end: 3.5rem;
/*    animation: lights 5s 750ms linear infinite;*/
}

.section--profile .section--title {
  grid-column: margin;
  /*grid-column: breakout;*/
}

.section--profile .section--title h1 {
    text-align: right;
}

@media (min-width: 480px) {
    .section--profile .section--title, .container p {
        grid-column: margin;
        padding-inline: 0;
    }
}

.container:nth-last-of-type(-n+1) .section--title h1 { 
  text-align: right;
/*  color: firebrick;*/
}


main {
  margin-block-end: 1rem;
}

.content {
  display: grid;
  grid-template-columns:
    [full-start] 1fr
    [content-start]
    min(var(--content-max-width), 100% - var(--space-md) * 2)
    [content-end]
    1fr [full-end];
}

.content > * {
  grid-column: content;
}

.content > * + * {
  margin-block-start: var(--space);
}
/* .container h1, */
.content p,
p {
  margin-bottom: 3rem;
  font-family: "DM Sans", serif, "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
  /*font-family: 'Titillium Web', sans-serif;*/
  font-weight: 300;
  font-size: 1.1rem; /* from 1rem */
  font-size: clamp(1.1rem, 0.659rem + 1.471vw, 1.6rem);
  color: #fafafa;
  overflow-wrap: break-word;
}

@media (min-width: 480px) {
  p {
    grid-column: wide;
    padding-inline: 0;
  }
  p.para-fade__effect {
    grid-column: wide;
    font-size: 2rem;
    font-size: clamp(1.1rem, 0.306rem + 2.647vw, 2rem);
    line-height: 1.1;
  }
}

.eDMZAW {
    position: relative;
    grid-column: page;
    /*margin-inline: calc(var(--space) / 2);*/
    /* background: url(https://ik.imagekit.io/ghow2otb3rc/Projects/SoM/cdn/ai-glow_Iw7l7oHWy.webp) 0 top / 50% 3px no-repeat,
    linear-gradient(80.9deg, rgba(51, 51, 57, 0.7) -0.58%, rgba(0, 0, 0, 0.3) 6.34%, rgba(0, 0, 0, 0.7) 71.25%), rgb(51, 51, 57);
    box-shadow: rgba(0, 0, 0, 0.8) 0 18px 12px, rgba(0, 0, 0, 0.6) 0 9.4784px 5.4192px, rgba(0, 0, 0, 0.2) 0 3.6832px 2.4176px, rgba(255, 255, 255, 0.20) 0.5px 0.5px 0.5px inset, rgba(255, 255, 255, 0.0) 0.5px -0.5px 0.5px inset; */
    /*background: url(https://ik.imagekit.io/ghow2otb3rc/Projects/SoM/cdn/ai-glow_Iw7l7oHWy.webp) 0 top / 50% 2px no-repeat, linear-gradient(154deg,rgba(51, 51, 57, .4) 0%, rgba(51, 51, 57, .4) 6%, rgba(0, 212, 255, 0.02) 55%);*/
    /*box-shadow: rgba(0, 0, 0, 0.8) 0 18px 12px, rgba(0, 0, 0, 0.6) 0 9.4784px 5.4192px, rgba(0, 0, 0, 0.2) 0 3.6832px 2.4176px, rgba(255, 255, 255, 0.10) 0.5px 0.5px 0.5px inset, rgba(255, 255, 255, 0.0) 0.5px -0.5px 0.5px inset;*/
    border-radius: 8px;
background-color:hsla(0,100%,4%,0);
/* background-image:
radial-gradient(at 98% 62%, hsla(240,6%,21%,1) 0px, transparent 50%),
radial-gradient(at 63% 63%, hsla(240,6%,21%,1) 0px, transparent 50%),
radial-gradient(at 27% 63%, hsla(240,6%,21%,1) 0px, transparent 50%),
radial-gradient(at 1% 63%, hsla(240,6%,21%,1) 0px, transparent 50%),
radial-gradient(at 98% 35%, hsla(240,6%,21%,1) 0px, transparent 50%),
radial-gradient(at 27% 43%, hsla(240,6%,21%,1) 0px, transparent 50%),
radial-gradient(at 0% 34%, hsla(240,6%,21%,1) 0px, transparent 50%),
radial-gradient(at 63% 45%, hsla(240,100%,4%,1) 0px, transparent 50%); */
    background-repeat: repeat;
    padding: 220px 0 217px;
    border: 1px solid hsl(0 0% 41% / .165);
}

.eDMZAW:nth-last-of-type(-n+1) {
  grid-column: full;
}

.eDMZAW > * {
  position: relative;
/*   z-index: 1; */
}
/*
.eDMZAW::before {
  background-color: rgba(235, 235, 235, .1);
  content: '';
  filter: blur(18px);
  position: absolute;
  inset: 3%;
  z-index: -1;
}*/

.eDMZAW::after {
 content: '';
 width: 100%;
 height: 100%;
 /*background: inherit; */
 position: absolute;
 left: 0;
 right: 0;
 top: 0;  
 bottom: 0;
 /*box-shadow: inset 0 0 0 200px rgba(255,255,255,0.12);*/
 filter: blur(14px);
 z-index: -1;
 background-color: #efeeec0f;
 border: 1px solid #efeeec14;
 border-radius: .5em;
}

*/

@media (max-width: 1280px) {
    .eDMZAW {
        padding: 220px 0 217px;
    }
    .eDMZAW:nth-last-of-type(-n+1)  {
        padding: 180px 0 180px;
    }    
}

.imXWyz {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  max-height: 702px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: radial-gradient(50% 72.75% at 50% 0%, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0) 100%);
}

.cjEvTY {
  position: relative;
  width: 100%;
  max-width: 1220px;
  padding: 0 40px;
  margin: 0 auto;
}

.cjEvTY h2 {
    font-family: 'Open Sans';
  font-size: clamp(2.275rem, 1.845rem + 1.913vw, 3.375rem);
  font-size: 1.32rem;
  font-weight: 600;
  text-align: center;
  margin-block-end: var(--space);
}

.cjEvTY p {
  font-family: "DM Sans", serif, "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
  color: var(--color-section-text);
  line-height: 1.4;
  max-width: 60ch;
}

@media (max-width: 1280px) {
    .cjEvTY {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-section-text);
        padding: 2.5rem 0px;
        max-width: 1130px;
    }
    z-index: 1;
}

@media (width > 400px) {
  .cjEvTY h2 {
    font-size: clamp(1.32rem, -0.635rem + 7.82vw, 3.275rem);
    margin-block-start: var(--space);
  }
}

.cjEvTY-overlay, 
.s3--outerlay-overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  transition: transform 0.475s var(--cubic-default), opacity 0.475s var(--cubic-default);
}

.cjEvTY-overlay .overlay-corner,
.s3--outerlay .overlay-corner {
/*    border-top: 0.105rem solid hsl(40, 9%, 55%);
    border-left: 0.105rem solid hsl(40, 9%, 55%);*/
    border-top: 0.105rem solid hsl(260, 84%, 51%);
    border-left: 0.105rem solid hsl(260, 84%, 51%);    
    border-top-left-radius: .6em;
    width: 2em;
    height: 2em;
}

.cjEvTY-overlay .overlay-corner.overlay-corner.top-right {
    position: absolute;
    inset: 0% 0% auto auto;
    transform: rotate(90deg);
}

.cjEvTY-overlay .overlay-corner.overlay-corner.bottom-left {
    position: absolute;
    inset: auto auto 0% 0%;
    transform: rotate(-90deg);
}

.cjEvTY-overlay .overlay-corner.overlay-corner.bottom-right {
    position: absolute;
    inset: auto 0% 0% auto;
    transform: rotate(180deg);
}

.listing-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease;
}

@media (min-width: 768px) {
    #listing-bar {
        width: 600px;
        margin: 0 auto;
        border-radius: 12px 12px 0 0;
        padding-bottom: 1rem !important;
    }
}

.listing-bar .slider {
    overflow: hidden;
    flex: 1;
    position: relative;
    max-width: 100%;
}

/* Slide elements */
.listing-bar .slide {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;        /* ✅ keep slides within container width */
  box-sizing: border-box;
/*  padding-right: 2rem;  ✅ prevents text/button from overflowing behind dismiss button */
  display: flex;
  align-items: center;
  justify-content: center;
}

.listing-bar .slide span {
    font-family: "DM Sans", serif, "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
    font-size: clamp(1.2rem, 0.766rem + 1.928vw, 2rem);
    font-size: clamp(1.6rem, 1.133rem + 2.136vw, 2.5rem);
    font-weight: 300;
}

.listing-bar .slide.active {
  opacity: 1;
  transform: translateY(0);
  position: relative; /* ✅ so the active one participates in flex layout */
}
.gallery {
  grid-column: full;
  display: grid;
  grid-template-columns: inherit;
  padding-block: var(--space-md);
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  scrollbar-width: none;
  margin-block: 8rem; /* Test Vertical Rhythm Value */ 
}

.gallery::-webkit-scrollbar {
  inline-size: 0 !important;
  display: none;
}

.gallery.pre--profile-img {
  margin-block-start: 2rem;
  margin-block-end: 1rem;
}

.gallery .wrapper {
  grid-column: content;
  display: flex;
  align-items: center;
  gap: var(--space);
}

.gallery .wrapper::after {
  content: "";
  align-self: stretch;
  padding-inline-end: max(
    var(--space),
    (100vw - var(--content-max-width)) / 2 - var(--space)
  );
}

main.content .gallery:nth-of-type(3) {
/*  border: 1px solid firebrick;*/
  margin-block-end: -4rem;
}

.gallery .item {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
  inline-size: 100%;
  max-inline-size: 25rem;
  aspect-ratio: 16 / 9;
  font-size: 2rem;
  background: hotpink;
  background: #081a29;
  color: #081a29;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(192 192 192 / .1), 
              0 2px 2px rgba(192 192 192 / .1), 
              0 4px 4px rgba(192 192 192 / .1), 
              0 8px 8px rgba(192 192 192 / .1), 
              0 16px 16px rgba(192 192 192 / .1);
  box-shadow: rgba(192, 192, 192, 0.2) 0px 6px 12px -2px, rgba(192, 192, 192, 0.2) 0px 3px 7px -3px;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
  box-shadow: 0 0.04rem .45rem -0.015rem hsl(0,0%,55.3%);
  box-shadow: 0 0.05rem .31rem -0.05rem hsl(0,0%,55.3%);
}

.gallery.alt-sizes .item.lg {
  max-inline-size: 35rem;
}

.gallery.alt-sizes .item.sm {
  max-inline-size: 15rem;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

/*
.gallery.alt-sizes .item.lg img {
  width: auto;
  border-radius: 6px;
}*/

@supports not (aspect-ratio: 1) {
  .gallery .item::before {
    float: left;
    padding-top: 56.25%;
    content: "";
  }

  .gallery .item::after {
    display: block;
    content: "";
    clear: both;
  }
}


@-moz-document url-prefix() {
  .ff-banner {
    display: block;
    padding: var(--space);
    background-color: lightyellow;
    text-align: center;
    font-size: 0.9rem;
  }
}

.sz--col-full {
    grid-column: page;
}


.new-footer-block {
  --spacing: .25rem;
  padding-block: calc(var(--spacing) *3);
  padding-inline: calc(var(--spacing) *5);
  border-color: color-mix(in oklab, var(--color-neutral-300) 10%, transparent);
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: calc(var(--spacing) * 5);
  color: var(--color-neutral-400);
}

.privacy-blk {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 6);
  color: var(--color-neutral-400);
}

.ft-icons-outer {
  display: flex;
  margin-bottom: calc(var(--spacing) * 2);
  margin-top: calc(var(--spacing) * 8);
}

.ft-icons-inner {
  display: flex;
  gap: calc(var(--spacing) * 4);
  color: var(--color-neutral-300);
}


.kp--images-outer {
    padding: var(--container-padding);
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    display: flex;
    position: relative;
    font-size: 1vw;
    color: var(--color-light);
}

.overlay-wrap {
    z-index: 2;
    pointer-events: none;
    padding-top: calc(var(--gap) * 1);
    position: absolute;
    inset: 0%;
}

.overlay-row {
    justify-content: space-between;
    align-items: center;
    padding-inline: 6em;
    display: flex;
}

.overlay-col {
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    flex-flow: column;
    display: flex;
}

.overlay-col.col-left {
    max-width: 26em;
    transform: translate(0, 50%);
}

.overlay-col.col-right {
    max-width: 45em;
}

.overlay-col.col-right .overlay-col__img {
    aspect-ratio: 18 / 10;
    overflow: hidden;
    border-radius: .25rem;
    box-shadow: 0 0.05rem .31rem -0.05rem hsl(0,0%,55.3%);
}

.overlay-col__img {
    height: 26em;
}

.overlay-col.col-right .img--portrait {
    aspect-ratio: 3 / 4;
    overflow: hidden;
    border-radius: .25rem;
    height: 46em;
    max-width: 32em;
    transform: translate(40%, 35%);
    /*margin-block-start: 2rem;*/
}

.image {
    object-fit: cover;
    border-radius: .5em;
    width: 100%;
    /*height: 100%;*/
    height: auto;
    box-shadow: 0 0.05rem .31rem -0.05rem hsl(0,0%,55.3%);
}

.overlay-col.col-right .overlay-col__img img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    /* mask: radial-gradient(100% 100% at 100% 0, #fff, #0000); */
}

.paragraph {
  margin-bottom: 0;
  font-size: 0.8125rem;
  line-height: 1.25;
  margin-inline-start: -48px;
  margin-block-start: 0.85rem;
  padding-inline-start: calc(var(--space-md) / 4);
  padding-inline-end: 0;
}

@media (width > 600px) {
  .paragraph {
    font-size: 1.95em;
    padding-inline: calc(var(--space-md) / 2);
  }
}

.scroll-section {
    position: relative;
    height: 0;
    height: calc(100vh - (var(--container-padding) * 2));
    /*padding: 220px 0 217px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2rem; /* 10vw */
    padding-right: 2rem;
    background: radial-gradient(circle at left 50px, #107667ed 0%, #000000 7%, #000000 10%);
    z-index: -1;
    view-timeline-axis: block;
    view-timeline-inset: 40% 40%;
}

@media (max-width: 768px) {
    .scroll-section {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.s2 {
    view-timeline-name: --s2;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.95) 20%, hsl(171, 76%, 26%) 50%, rgba(0, 0, 0, 0.9) 80%), url(https://ik.imagekit.io/ghow2otb3rc/Projects/SoM/Artists/hvq--prof-img-C0_152401__GYPzF8Tdd.jpg);
    background-position: center center;
    background-size: 300%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.s3 {
    view-timeline-name: --s3;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.95) 20%, hsl(240 28% 19% / 0.85) 50%, rgba(0, 0, 0, 0.9) 80%), url(https://ik.imagekit.io/ghow2otb3rc/Projects/SoM/Artists/KP-IMG/ctg--thumbnail_eJWs5EkOO.jpg);
    background-position: center;
    background-size: 200%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: hsl(42 62.5% 39.2% / .1);
}

.s3--outerlay {
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: center;
  /*padding-block: 2rem;*/
}

.s4 {
    view-timeline-name: --s4;
    height: calc(100vh - (var(--container-padding) * 4));
    height: calc(100vh - (var(--container-padding) * 8));
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.95) 20%, hsl(240 28% 19% / 0.85) 50%, rgba(0, 0, 0, 0.9) 80%), url(https://ik.imagekit.io/ghow2otb3rc/Projects/SoM/Artists/KP-IMG/ctg--thumbnail_eJWs5EkOO.jpg);
    background-position: center;
    background-size: 200%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: hsl(42 62.5% 39.2% / .1);
}

@media (width > 48rem) {
  .s2 {
    background-size: 200%;
  }
}


.focus-text {
    position: relative;
    font-family: "Manrope", sans-serif;
    /*font-size: clamp(1.5rem, 0.038rem + 6.154vw, 3.5rem);*/
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.1;
    color: var(--text-muted);
    margin: 0;
    margin-block-start: var(--gap);
    
    max-width: 500px;
    letter-spacing: -0.02em;
    animation: content-focus linear both;
    animation-timeline: view();
    animation-range: cover 0% cover 100%;
}


@media (width > 629px) {
    .focus-text {
      margin-block-start: 1rem;
    }
}


.description {
    font-family: "raleway", sans-serif;
    font-size: .85rem;
    color: hsl(0, 0%, 95%);
    margin-top: 1.5rem;
    max-width: 820px;
    line-height: 1.7;
    font-weight: 300;
    border-left: 2px solid hsl(42 62.5% 39.2% / .2);
    padding-inline: 1.5rem;
    animation: content-focus linear both;
    animation-timeline: view();
    animation-range: cover 0% cover 100%;
}

.cjEvTY-overlay, 
.s3--outerlay-overlay {
  position: absolute;
  inset: 0 2rem 0 2rem;
  z-index: -1;
  transition: transform 0.475s var(--cubic-default), opacity 0.475s var(--cubic-default);
}

.cjEvTY-overlay {
  inset: 0 2.5rem 0 2.5rem;
}

.cjEvTY-overlay .overlay-corner,
.s3--outerlay .overlay-corner {
    border-top: 0.105rem solid hsl(40, 9%, 55%);
    border-left: 0.105rem solid hsl(40, 9%, 55%);
    border-top: 0.105rem solid hsl(260, 84%, 51%);
    border-left: 0.105rem solid hsl(260, 84%, 51%);     
    border-top-left-radius: .4em;
    width: 2em;
    height: 2em;
}

https://ik.imagekit.io/ghow2otb3rc/Projects/SoM/Artists/KP-IMG/ctg--thumbnail_eJWs5EkOO.jpg

.overlay-corner {
  border-top: 1px solid var(--color-light);
  border-left: 1px solid var(--color-light);
  border-top-left-radius: .4em;
  width: 1em;
  height: 1em;
}

.overlay-corner.top-right {
  position: absolute;
  inset: 0% 0% auto auto;
  transform: rotate(90deg);
}

.overlay-corner.bottom-left {
  position: absolute;
  inset: auto auto 0% 0%;
  transform: rotate(-90deg);
}

.overlay-corner.bottom-right {
  position: absolute;
  inset: auto 0% 0% auto;
  transform: rotate(180deg);
}

@media (width > 467px) {
    .focus-text {
        font-size: clamp(1.5rem, 0.038rem + 6.154vw, 3.5rem);
    }
    .description {
        font-size: 1.1rem;
    }
    .s3--outerlay-overlay, 
    .cjEvTY-overlay {
        inset: 0 6rem 0 6rem;
    }
    .cjEvTY-overlay {
        inset: 0 4rem 0 4rem;      
    }
}

.media-gal--container {
  position: relative;
  --gutter: 3rem;
  display: grid;
  grid-template-columns:
    [page-start col1-start] minmax(3rem, 1fr)
    [breakout-start] 1fr
    [content-start] min(100% - (var(--gutter) * 2), 80ch)
    [content-end] 1fr
    [breakout-end] minmax(3rem, 1fr)
    [page-end];
  border-top: 1px solid hsl(0 0% 41% / .45);
}

.sz--col-full {
    grid-column: page;
}

.cloneable {
  padding: calc(var(--container-padding) /2); 
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 40vh;
  display: flex;
  position: relative;
  font-size: 1.1vw;
  outline: 0;
}

.overlay {
  z-index: 2;
  background-image: linear-gradient(90deg, var(--color-neutral-900) 85%, #0000);
  justify-content: flex-start;
  align-items: center;
  width: 43.5em;
  height: 100%;
  padding-left: 4em; /* as opposed to 2em */
  display: flex;
  position: absolute;
  inset: 0% auto 0% 0%;
}

.overlay-inner {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 28.125em;
  height: min(28.125em, 368px);
/*   height: 24.125em; */
  display: flex;
  position: relative;
}

.overlay-count-row {
  grid-column-gap: .2em;
  grid-row-gap: .2em;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  font-family: PP Neue Corp, Impact, sans-serif;
  font-size: 5.125em;
  font-size: clamp(2.25rem, 1.772rem + 2.391vw, 3.625rem);
  font-weight: 700;
  display: flex;
}

.count-column {
  height: 1em;
  overflow: hidden;
}

.count-heading {
  width: 2ch;
  font-size: 1em;
  /*text-transform: uppercase;*/
  line-height: 1;
  margin: 0px;
  visibility: hidden;
}

.count-row-divider {
  background-color: var(--color-light);
  width: 2px;
  height: .75em;
  transform: rotate(15deg);
  visibility: hidden;
}

.overlay-title {
  font-family: PP Neue Corp, Impact, sans-serif;
  font-size: .55em;
  color: hsl(0, 0%, 95%);
  text-transform: uppercase;
  width: max-content;
  order: -1;
  flex: auto;
  letter-spacing: 0.095rem;
/*  visibility: hidden;
  display: none;
*/  position: absolute;
  top: 0;
  left: 1.3em;
  left: 0;
  z-index: 1;  
}

.overlay-nav-row {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  display: flex;
  transform: translate3d(0, -50%, 0);
  margin-block-end: 0;
}

@media (min-width: 490px) {
  .overlay-nav-row {
    margin-block-end: 2rem;
  }
}


.button {
  background-color: #0000;
  color: #fff;
  border: 1px solid #fff3;
  border-radius: .4em;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 4em;
  width: 3em;
  height: 3em;
  padding: 0;
  display: flex;
  position: relative;
}

.button-arrow {
  flex: none;
  width: 1em;
  height: .75em;
}

.button-arrow.next {
  transform: rotate(180deg);
}

.button-overlay {
  z-index: 2;
  position: absolute;
  inset: -1px;
}

.overlay-corner {
  border-top: 1px solid var(--color-light);
  border-left: 1px solid var(--color-light);
  border-top-left-radius: .4em;
  width: 1em;
  height: 1em;
}

.overlay-corner.top-right {
  position: absolute;
  inset: 0% 0% auto auto;
  transform: rotate(90deg);
}

.overlay-corner.bottom-left {
  position: absolute;
  inset: auto auto 0% 0%;
  transform: rotate(-90deg);
}

.overlay-corner.bottom-right {
  position: absolute;
  inset: auto 0% 0% auto;
  transform: rotate(180deg);
}

.button, .button-overlay{ transition: transform 0.475s var(--cubic-default), opacity 0.475s var(--cubic-default)}

.button:hover .button-overlay{ transform: scale(1.4); }
.overlay-nav-row:hover:has(.button:hover) .button{ opacity: 0.4; }
.button:hover{ transform: scale(0.85); opacity: 1 !important; }


.cloneable .main {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
  overflow: hidden;
  top: 0;
  padding-block-start: var(--container-padding);
}

.slider-wrap {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.slider-list {
  flex-flow: row;
  justify-content: flex-start;
  align-items: stretch;
  align-items: center;
  display: flex;
  position: relative;
  background: hsl(0, 0%, 0%);
}

.slider-slide {
  flex: none;
  width: 42.5em;
  height: 28em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  transition: opacity .4s;
  position: relative;
}

/*@media (width > 554px) {
  .slider-slide {
    height: max(170px, 28em);
  }
}*/

[data-slider="slide"]{ opacity: 0.2; }
[data-slider="slide"].active { opacity: 1; } 
[data-slider="slide"].active .slide-caption{ transition-delay:0.3s;} 

.slide-inner {
  border-radius: .5em;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slider-slide:nth-last-of-type(-n÷1) {
  border: 1px solid firebrick;
}

.cloneable video {
  width: 100%;
  height: auto;
  border-radius: 8px;
  aspect-ratio: 16 / 9;
  aspect-ratio: 16 / 10; 
/*   border: 1px solid firebrick; */
  object-fit: cover;
}

.cloneable img{
  width:100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 16 / 10;
  border-radius: 12px;
  aspect-ratio: 16 / 10; 
}

.slide-caption {
  z-index: 2;
  grid-column-gap: .4em;
  grid-row-gap: .4em;
  background-color: var(--color-light);
  color: var(--color-dark);
  white-space: nowrap;
  border-radius: .25em;
  justify-content: flex-start;
  align-items: center;
  padding: .4em .75em .4em .5em;
  display: flex;
  position: absolute;
  top: 1.25em;
  left: 1.25em;
  overflow: hidden;
  visibility: hidden;
}

.caption-dot {
  background-color: var(--color-dark);
  border-radius: 10em;
  flex: none;
  width: .5em;
  height: .5em;
}

.caption {
  font-size: .75em;
  font-family: arial;
  margin: 0;
}

.main--content {
  display: grid;
  /*row-gap: 1lh;*/
  grid-template-columns:         
    [full-start] calc(var(--gap) / 2)
    [margin-start] minmax(0, 1fr)
    [wide-start] clamp(0px, 10vi - 30px, 6em)
    [content-start] minmax(auto, 18em) [center]
    minmax(auto, 6em) [content-end] 
    clamp(0px, 10vi - 30px, 6em) [wide-end] 
    minmax(0, 1fr) [margin-end] 
    calc(var(--gap) / 2) [full-end]
  ;   
  margin-block: 16vh;
  position: relative;
}

.main--content h2 {
  grid-column: margin / content-start;
  font-family: var(--ff-main-header);
  font-size: clamp(1.4rem, 0.0947rem + 6.5263vw, 4.5rem);
  letter-spacing: 0.125rem;
  padding-inline-start: 2.75rem;
  margin-block-end: 3rem;
}


.main--content .main--sub-hdr {
  grid-column: full;
  padding-inline-start: 0;
  padding-inline-end: 0;
  font-family: "DM Sans", serif, "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
  font-weight: 300;
  font-size: 2.6rem;
}

@media (width > 480px) {
  .main--content .main--sub-hdr {
    grid-column: wide;
  }
}

@media (width > 64rem) {
  .main--content .main--sub-hdr {
    grid-column: content / margin-end;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    padding-block-start: 1.3rem;
  }
  .section--title {
    grid-column: margin / content-start;
  }
}

.main--content::before {
  position: absolute;
  content: '';
  left: 20px;
  top: 0;
  width: 40px;
  height: 3px;
  /*background-color: hsla(43.8, 0%, 75.3%, .3);*/
}

.product {
  position: relative;
  /*display: flex;*/
  margin-block: 4rem;
}

.product__images {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) / 2);
  justify-content: center;
  align-items: center;
  padding-block: var(--space);
  overflow: clip;
}

.product__main-image {
  max-width: 500px;
  max-height: 240px;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid #07070711;
  border-radius: 8px;
  /*  opacity: 0;
  animation: imageFadeIn .4s ease-in-out forwards;
*/
  }

.product__main-image.updated {
  opacity: 0;
  animation: imageFadeIn .8s ease-in-out forwards;   
}

.product__slider-wrap {
  max-width: 600px;
  min-height: 100px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.product__slider {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-x: auto;
  padding-inline: 0.25rem
}

.product__image {
  max-width: 180px;
  max-height: 100px;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.5;
  margin: 0.25rem;
  border: 1px solid #07070711;
  border-radius: 4px;
}

.product__image:first-child {
  margin-left: 0;
}

.product__image:last-child {
  margin-right: 0;
}

.product__image:hover {
  opacity: 1;
}

.product__image--active {
  opacity: 1;
  /*animation: imageFadeIn .4s ease-in-out forwards;*/
}

.product__slider::-webkit-scrollbar {
  height: 10px;
}

.product__slider::-webkit-scrollbar-thumb {
  background-color: #f9564f;
  border-radius: 50px;
}


@keyframes imageFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.dl--section {
  position: relative;
  background: url(https://ik.imagekit.io/ghow2otb3rc/Projects/SoM/Artists/kpa--hero-IMG-002__lrg_hbAo8-IfR.jpg);
  background-size: 300%;
  background-position: center -400px;
  backdrop-filter: blur(4px);
  /*margin-block-start: calc(var(--gap) * 4);*/
  margin-block-start: 0;

  & > * {
    position: relative;
    z-index: 100;
  }

  &::after {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(14px);
  }
}

.dl--section .dl--section_container {
    display: flex;
    /* flex-wrap: nowrap; */
    justify-content: flex-start; 
    align-items: center;
    gap: 1.25rem;
    grid-column: full;
    padding-block: 4rem 2rem;
    padding-inline: var(--space);
    border-radius: 8px;
}

.dl--section .dl--section_container .dl--single {
  font-family: 'Open Sans';
  /*font-weight: 300;*/
  font-weight: 500;
  font-size: clamp(1.25rem, 0.85rem + 2vw, 2.4rem); 
  font-size: clamp(1.25rem, 0.989rem + 1.304vw, 2rem);
  font-size: clamp(1.15rem, 0.854rem + 1.478vw, 2rem);
  font-size: 1rem;
  margin-block: 0;
  text-shadow: 0 .010em 2px rgba(250, 250, 250, 0.5);
}


@media (width > 599px) {
  .dl--section {
    margin-block-start: calc(var(--gap) * 4);
  }
  .dl--section .dl--section_container {
    justify-content: center;
  }
  .dl--section .dl--section_container .dl--single {
    font-size: clamp(1.15rem, 0.854rem + 1.478vw, 2rem);
  }
}


.dl--single {
  position: relative;
  /*align-self: center;*/
  /*text-align: center;*/
  padding-inline: var(--space);
}

.dl--single::before {
  position: absolute;
  content: '';
  left: 0;
  top: -12px;
  height: 150%;
  width: 1px;
  background-color: #c0c0c0;
  margin-right: .5rem;
}

.scan__images {
  display: flex;
  justify-content: center;
  padding-block: var(--gap);
  margin-block-start: 0;
}

.qr--img-wrap {
  padding: .25rem;
  background-color: #fff;
  width: 78px;
  height: 78px;
  border-radius: 4px;
}

.qr--img-wrap img {
  display: block;
  max-width: 100%;
  height: auto;
}

.meta--social-icon {
    list-style: none;
    display: flex;
    gap: .5rem;
    /*justify-content: flex-end;*/
    margin-top: 1rem;
    padding-inline: 1rem;
}

.track__title {
  display: inline-block;
  font-size: 1.2rem;
  color: hsl(267, 68%, 75%);
  margin-block-start: .5rem;
}

footer {
  background-color: hsl(43.8, 0%, 8.5%);
  background-color: oklch(0.157 0.017 278.712);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.ft--content {
  font-size: 0.875rem;
  font-weight: 300;
  padding: 1rem;
  flex-wrap: wrap;

  @media (min-width: 768px) {
      padding-right: 6rem;
  }
}

.ft--main-title {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin-block-end: 1rem;
}

.ft--content p {
    width: 40ch;
    min-width: 25ch;
    max-width: 100%;
    font-family: "DM Sans", serif, "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
    font-size: 0.875rem;
    text-wrap: pretty;
    opacity: 0.8;
    color: #fff;
    margin-bottom: 2rem;
    padding-inline: 0;
}

.ft--content .ft--footer-list {
  list-style: none;
  margin-block-end: 2rem;
}

.ft--content .ft--footer-list li a {
    text-decoration: none;
    color: currentColor;
    font-family: 'Raleway', sans-serif;
    font-family: "DM Sans", serif, "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
    font-size: 0.925rem;
    font-weight: 300;
    transition: color .3s ease-in-outs;
}

.ft--content .ft--footer-list li a:hover {
  color: hsl(224, 21%, 75%);
}

.ft--content form {
    display: inline-block;
    width: min(100%, 24rem);
    /*display: flex;*/
}

.ft--content form {
  p {
      font-weight: 600;
      color: #fff;
      margin-bottom: .25rem;
      /*display: flex;*/
  }
  div {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      width: 100%;
  }  
  input {
    padding: 0.5rem;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    flex: 1;
    flex-basis: auto;
    outline-color: hsl(224, 21%, 65%);
  }    
  button {
    background:  color-mix(in hsl, canvas, canvasText 75%);
    background: hsl(208.2, 32.4%, 21.4%);
    color:  color-mix(in hsl, canvas, canvasText 10%);
    border-radius: 4px;
    align-self: auto;
    border: 0;
    padding-inline: 1rem;
    cursor: pointer;
    transition: background .2s ease-in-out;

    &:hover {
      background: hsl(224, 21%, 75%);
    }
  }  
}

.ft--row {
  margin-block-end: 1.2rem;
}

.copyright {
  padding-inline-start: .5rem;
  background: hsl(279, 92%, 28%);
  background: #081a29;
  background: hsl(208.2, 32.4%, 21.4%);
  background: hsl(222, 53%, 13%);
  padding-block: 2px;
  /* outline: 1px solid firebrick; */

}
.copyright > p {
  grid-column: page;
  padding-inline: calc(var(--space-md) / 2);
  margin-bottom: 0;
  font-size: .6rem;
  font-weight: 400;
  text-align: center;
  color: hsl(224, 21%, 75%);
}

@media (min-width: 1000px) {
  .ft--content {
      display: flex;
      gap: 1rem;
  }
  .ft--main-title {
    margin-inline-end: 7rem;
  }
  .ft--content p {
    margin-bottom: 8rem;
  }
  .ft--content .ft--footer-list {
    margin-block: 0;
    margin-inline: auto;
    flex: 0 1 100px;
  }
}


@keyframes titleFadeIn {
  100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
  }  
}
